# Compiled binaries
src/hello
src/scanner_test
src/exif_test
src/apicmanager
build/
*.o

# Test data
test_photos/
organized/
test_photos_organized/
src/apicmanager_log_*.txt
apicmanager_log_*.txt
*.db
gui_test/gui_test
gui_test/*.o
gui_test/moc_*
gui_test/Makefile
gui_test/.qmake.stash
